* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
    max-width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.flex-column-center  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    cursor: pointer;
    font-weight: 700;
}

#main-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    width: 100vw;
    min-width: 680px;
    padding: 10px;
}

#header-container {
    display: flex;
    align-items: center;
}

#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-container > a {
    /* all: unset; */
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

#nav-container > a:hover {
    font-weight: 700;
    color: rgb(80, 80, 80);
}

#content-container {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 0 20px 0;
}

#shop-container {
    display: grid;
    grid-template-rows: 30px 1fr;
    align-items: center;
}

#sort-bar {
    margin-left: 10px;
}

#shop-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}


.shop-item {
    margin: 10px;
    padding: 10px;
    height: 350px;
    width: 300px;
    border: 1px solid black;
    border-radius: 3px;
    justify-content: center;
    flex: 1 1 auto;
}

.shop-item > img {
    max-width: 280px;
    max-height: 250px;
}

.shop-item > button {
    padding: 0 5px 2px 5px;
    font-size: 14px;
}

.shop-item > * {
    margin-bottom: 5px;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.cart-icon:hover {
    background-color: rgb(80, 80, 80);
}

.qty-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 60px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    background-color: rgb(170, 170, 170);
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

#cart-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 480px;
}

#close-icon-container  {
    display: flex;
    justify-content: flex-end;
}

#close-cart-icon {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 50px;
    background-color: white;
    color: rgba(0,0,0);
}

#close-cart-icon:hover {
    color: rgb(80, 80, 80);
}

#cart-container {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

#item-header, .item-row  {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 50px;
    margin-bottom: 5px;
    text-align: center;
}

#item-header {
    margin: 10px 0 10px 0;
    font-weight: 700;
}

.item-img {
    max-height: 75px;
    max-width: 100px;
}

#cart-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    font-weight: 700;
}

#cart-sub button {
    margin: 10px 0 0 10px;
    padding: 0 5px 2px 5px;
    font-size: 16px;
}

#qty-div > span.material-symbols-outlined {
    font-size: 16px;
    padding: 0 5px 0 5px;
}