* {
    --factor: 1px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hex-tile {
    margin-top: calc(var(--factor) * 33); /* 30 */
    width: calc(var(--factor) * 104);
    height: calc(var(--factor) * 60);
    background-color: black;
    border-color: black;
    position: relative;
    display: inline-block;
    margin-left: calc(var(--factor) * 3);
    margin-bottom: calc(var(--factor) * -1);
    color: white; /* - */
    text-align: center; /* - */
}

.hex-tile:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: calc(var(--factor) * 30) solid;
    border-color: inherit;
    border-left: calc(var(--factor) * 52) solid transparent;
    border-right: calc(var(--factor) * 52) solid transparent;
    position: absolute;
    left: 0; /* - */
    top: calc(var(--factor) * -30);
}

.hex-tile:after {
    content: "";
    width: 0;
    bottom: calc(var(--factor) * -30);
    border-top: calc(var(--factor) * 30) solid;
    border-color: inherit;
    border-left: calc(var(--factor) * 52) solid transparent;
    border-right: calc(var(--factor) * 52) solid transparent;
    position: absolute;
    left: 0; /* - */
}

.hex-tile.row-one {
    margin-left: calc(var(--factor) * 110);
}

.hex-tile.row-two {
    margin-left: calc(var(--factor) * 56);
}

/* .hex-tile {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: black;
    border-color: black;
    position: relative;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: -1px;
}

.hex-tile:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex-tile:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex-tile.row-one {
    margin-left: 111px;
}

.hex-tile.row-two {
    margin-left: 57px;
} */