* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

#container {
    margin: 10px auto 10px auto;
    border: 1px solid black;
    height: 752px;
    width: 1002px;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}

#header {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    padding-left: 10px;
}

#scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
}

#cards {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 150px);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: 1px solid black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.flexColCent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winLose {
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #container {
        margin: 10px auto 10px auto;
        height: 100%;
        width: 100vw;
        grid-template-rows: 100px 1fr 50px;
        grid-template-columns: 100vw;
    }
    
    #header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #scores {
        font-size: 15px;
    }
    
    #cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #footer {
        justify-content: flex-start;
    }
}

@media only screen and (max-height: 650px) {
    #container {
        margin: 10px auto 10px auto;
        height: 100%;
        width: 100vw;
        grid-template-rows: 100px 1fr 50px;
        grid-template-columns: 100vw;
    }
    
    #header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #scores {
        font-size: 15px;
    }
    
    #cards {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #footer {
        justify-content: flex-start;
    }
}