<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <h1><%= title %></h1>
        <nav>
            <a href="/">Home</a>
        </nav>
        <div class="content-container">
            <form action="" method="post">
                <label for="username">Username: </label>
                <input name="username" placeholder="username" type="text" />
                <label for="password">Password: </label>
                <input name="password" type="password" />
                <button type="submit">Log In</button>
            </form>
            <p>Not yet registered? <strong><a href="/user/create">Sign up here!</a></strong></p>
        </div>
    </div>
</body>
</html>