* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    cursor: pointer;
}

span.material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgba(194, 194, 194, 0.3);
    border-radius: 100px;
    font-size: 100px;
    color: white;
}

span.material-icons:hover {
    background-color: rgba(194, 194, 194, 0.6);
}

#frame {
    height: 606px;
    width: 0;
    overflow: hidden;
    transition: all 700ms ease-out;
}

#slides {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transition: all 700ms ease-out;
}

img {
    height: 600px;
    width: auto;
    border: 3px solid gray;
}

#slide-count {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 8px;
    margin: 0 3px 0 3px;
    transition: all 200ms ease-out;
}

.filled {
    background-color: rgb(194, 194, 194);
}