.post-row {
    border: 1px solid black;
    margin: 0.5em 0 0.5em 0;
    padding: 0 1em 0 1em;
}

.post-info {
    font-size: 0.75em;
}

.post-text {
    margin: 1em 0 1em 0;
    padding: 0 1em 0 1em;
}

.post-footer {
    display: flex;
    font-size: 0.75em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1000px)  {

    .post-footer {
        flex-direction: column;
        row-gap: 0.5em;
    }

}