.btn-link {
    width: fit-content;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    margin: 0 1em 0.5em 0;
    padding: 0.25em 0.75em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-link:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.btn-link:hover {
    color: #444444;
    font-weight: 600;
}

@media (min-width: 768px) {
    .btn-link {
        padding: 0.25em 0.75em;
    }
}

.btn-link.selected {
    cursor: default;
    font-weight: 600;
    box-shadow: 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px;
    top: 3px;
    left: 3px;
}

.btn-link.selected:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.btn-link.selected:hover {
    color: #000;
}

.btn-link.small-font {
    font-size: 0.5em;
}

@media only screen and (max-width: 1000px)  {

    .btn-link {
        font-size: 0.75em;
        margin: 0 0.7em 0.4em 0;
        padding: 0.25em 0.4em;
        letter-spacing: 0px;
        text-transform: inherit;
    }

}