#comment-container {
    padding: 0 0 0 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.comment-row {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 0.8em;
    border: 1px solid grey;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.comment-info {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.25em;
}

#comment-form {
    margin: 0 0 0.75em 0;
}

#comment-form > button {
    font-size: 0.9em
}

#input-comment-text {
    width: 100%;
}

ul {
    margin: 0.5em 0 0.5em 0;
    padding-left: 1em;
}