@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf'); 
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

nav > button {
    background: none;
    border: none;
    padding: 0!important;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
}

a:hover, nav > button:hover {
    font-weight: bold;
}

h3 {
    margin-bottom: 5px;
}

#main-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}