.post-row {
    border: 1px solid black;
    margin: 0.5em 0 0.75em 0;
    padding: 0 1em 0 1em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.post-info {
    font-size: 0.75em;
    margin-bottom: 0.5em;
}

.post-text {
    margin: 1em 0 1em 0;
    padding: 0 1em 0 1em;
}

.post-footer {
    display: flex;
    font-size: 0.75em;
    margin-bottom: 1.5em;
}

.post-util-row {
    display: flex;
    flex-direction: row;
}

.post-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-image {
    max-height: 100vh;
    max-width: 100%;
}

@media only screen and (max-width: 1000px)  {

    .post-footer {
        flex-direction: column;
        row-gap: 0.5em;
    }

    .post-util-row {
        flex-direction: column;
    }

}