.input-row {
    display: grid;
    text-align: end;
    margin: 0 0 0.25em 0;
}

.input-row.user {
    grid-template-columns: 7em 12em 1fr;
}

.input-row.login {
    grid-template-columns: 3.5em 12em 1fr;
}

.input-row.post {
    grid-template-columns: fit-content(8em) 12em 1fr;
    align-items: end;
}

.input-row > input {
    height: 1.75em;
    margin-left: 1em;
}

.input-hint {
    font-size: 0.75em;
    text-align: start;
    margin-left: 0.5em;
}

.button-container {
    margin: 0.5em 0;
    display: flex;
    column-gap: 0.5em;
}

.button-container.user {
    margin-left: 7.5em;
}

.button-container.login {
    margin-left: 4em;
}

#error-span {
    margin-left: 0.5em;
    text-align: start;
}

.form-border {
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    padding: 1em 1em;
}

.post-image-container.form {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.post-image.form {
    width: 30%;
}

@media only screen and (max-width: 1000px)  {

    .input-row.user, .input-row.login {
        text-align: start;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5em 2em 1fr;
        margin-bottom: 0.5em;
    }

    .input-row {
        text-align: start;
    }

    .input-row.post {
        grid-template-columns: 1fr;
        grid-template-rows: 1.5em 2em 1fr;
        align-items: center;
    }

    .input-row.post > input, .input-row.user > input, .input-row.login > input {
        margin-left: 0;
    }

    .input-hint {
        margin-left: 0;
    }

    .button-container.user {
        margin-left: 0;
    }

    .form-border {
        margin: 0.5em 0.5em 0 0;
    }
    
}