.page-view-bar {
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.page-view-bar > div {
    display: flex;
    align-items: center;
}

.page-nav-bar {
    font-size: 0.75em;
    margin: 0.4em 0;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px)  {

    .page-view-bar {
        font-size: 1em;
    }
    
    .page-nav-bar {
        font-size: 1em;
    }

}