body {
  font: 16px 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}

p { 
  margin: 5px 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

a:hover {
  font-weight: 900;
}

input, textarea {
  font-size: 1em;
}

.main-container {
  max-width: 600px;
  min-width: 320px;
}

.content-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.input-row {
  display: grid;
  grid-template-columns: 150px 200px minmax(150px, auto);
  margin: 5px 0;
}

.input-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-input {
  margin-left: 10px;
}

.input-tip {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 0.8em;
}

.input-btns {
  margin-top: 10px;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.message-row {
  margin: 10px 0;
  padding: 5px 0;
  border: 1px solid rgb(200, 200, 200);
}

.message-row:first-of-type {
  margin-top: 15px;
}

.message-row.user, .user > div {
  border: 1px solid rgb(0, 0, 0);
}

.message-row.reply {
  margin-top: -6px;
  margin-left: 15px;
  font-size: 0.9em;
}

.message-header {
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  font-size: 0.8em;
  margin: -6px -1px 0 -1px;
}

.message-footer {
  display: flex;
  column-gap: 10px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 0.8em;
  margin: 0 -1px -6px -1px;
}

.edit-note {
  font-size: 0.7em;
  font-style: italic;
}

footer {
  font-size: 0.85em;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }

  .input-label {
    justify-content: flex-start;
  }

  .input-input {
    margin-left: 0;
    font-size: 1em;
  }

  .input-tip {
    text-align: center;
  }

  .input-btns {
    display: flex;
    justify-content: center;
  }

  .input-btns > button {
    font-size: 1em;
  }
}