#BackEnd-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 460px 40px;
}

.back-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.backend-link {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    color: black;
}

.backend-link:visited {
    color: black;
}

.backend-link:hover {
    font-weight: 900;
    border: 2px solid black;
}