#edit-item-popup-container {
    height: 500px;
    width: 1000px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#edit-item-popup {
    height: 400px;
    width: 400px;
    padding: 20px;
    border: 2px solid Black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

#edit-head-span{
    font-size: 1.2em;
    font-weight: 800;
    margin: 10px;
}

#edit-item-btns {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#edit-item-btns > button {
    margin: 5px;
    font-size: 14px;
    width: 100px;
    height: 25px;
}

.edit-fieldset {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    border-width: 1px;
}

.edit-fieldset > legend, label {
    font-size: 15px;
    margin-left: 5px;
}

#edit-note-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#edit-note-input > label {
    font-size: 16px;
}

#edit-note-input > textarea {
    width: 320px;
}

#edit-qty-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#edit-qty-cont > .material-symbols-outlined {
    font-weight: 800;
}

#edit-qty {
    font-size: 25px;
    font-weight: 800;
    margin: 0 20px 0 20px;
}