#item-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 470px 30px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#item-form {
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
}

#item-header {
    padding: 3px 0 3px 0;
    display: grid;
    grid-template-columns: 30px 60px 150px 100px 150px 60px 60px 60px 60px 200px 200px 100px 100px;
    grid-template-rows: 1fr;
    font-weight: 700;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    align-items: center;
}

#item-list {
    height: 320px;
    overflow-y: auto;
}

.item-row {
    padding: 5px 0 5px 0;
    display: grid;
    grid-template-columns: 30px 60px 150px 100px 150px 60px 60px 60px 60px 200px 200px 100px 100px;
    grid-template-rows: 1fr;
}

.item-row:nth-child(even) {
    background-color: rgb(220, 220, 220);
}

#edit-btn-con {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.edit-btn {
    height: 20px;
    width: 50px;
}

.mod-list {
    display: flex;
    flex-direction: column;
}

.mod-row {
    display: flex;
    flex-direction: row;
}

.mod-row > input {
    width: 37%;
}

.mod-row > button {
    width: 26%;
}

.check-box {
    padding-left: 5px;
}

.input-error {
    border: 2px solid red;
}

.input-error:focus {
    outline: 1px solid red;;
}

.error-message {
    min-width: 300px;
    font-size: 1em;
    font-weight: 700;
    color: red;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#item-top-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#menu-sort-filter-bar {    
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 0;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0 0 5px 0;
    width: 1440px;
}

#menu-sort-filter-bar > * {
    margin-right: 10px;
}