.order-row-container {
    display: flex;
    flex-direction: column;
    margin: 3px 10px 3px 10px;
}

.order-row {
    display: grid;
    grid-template-columns: 50px 180px 100px 30px;
}

.order-row > .material-symbols-outlined {
    font-size: 20px;
}

.order-row-add {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin-left: 50px;
    color: rgb(100, 100, 100);
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}