#order-edit-container {
    height: 500px;
    width: 1000px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#order-edit-popup {
    height: 354px;
    width: 400px;
    padding: 20px;
    border: 2px solid Black;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 100px 256px;
    grid-template-rows: 50px 230px 1fr;
}

#order-edit-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1.5em;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

#order-edit-labels {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 105px 70px;
}

#order-edit-labels > * {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

#order-edit-inputs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 256px;
    grid-template-rows: 45px 105px 70px;
}

#order-name-input {
    height: 30px;
}

#order-notes-input {
    resize: none;
    max-height: 90px;
    white-space: pre-wrap;
}

#order-edit-disc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order-disc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 55px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

.order-disc-button.selected {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
}

.order-disc-button:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    color: rgb(100, 100, 100);
}

#cust-disc-btn {
    width: 70px;
}

#disc-input-div > input {
    height: 25px;
    width: 60px;
}

#order-edit-btns {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: space-between;
}

#order-edit-btns > button {
    height: 30px;
    width: 100px;
}