#order-tab-container {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 120px;
    grid-template-columns: 1fr;
}

#order-row-container {
    display: flex;
    flex-direction: column;
}

#order-sub-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 5px;
    border-top: 2px solid black;
}

#order-price-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 800;
    
}
