.order-row-container {
    display: flex;
    flex-direction: column;
    margin: 3px 10px 3px 10px;
}

.order-row {
    display: grid;
    grid-template-columns: 30px 200px 110px 30px;
}

.order-row > .material-symbols-outlined {
    font-size: 18px;
}

.qty-symbols {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.item-name {
    margin-left: 10px;
}

.order-row-add {
    width: 170px;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin-left: 40px;
    color: rgb(100, 100, 100);
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}