.link:hover {
    cursor: pointer;
    font-weight: 800;
}

#pos-container {
    display: grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 35px 465px;
}

#pos-nav {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#menu-nav-bar {
    display: flex;
    align-items: center;
}

.menu-nav-elem {
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.menu-nav-elem > .material-symbols-outlined {
    font-size: 1.5em
}

#menu-go-back {
    font-size: 50px;
}

#menu-go-back:hover {
    cursor: pointer;
}

.btns-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: static;
}

.menu-btn {
    height: 135px;
    width: 135px;
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
}

.item-btn {
    height: 100px;
    width: 100px;
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
}

#order-head {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

#order-tab {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 125px;
    grid-template-columns: 1fr;
}

.pos-nav-link {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.pos-nav-link:visited {
    color: black;
}

.pos-nav-link:hover {
    font-weight: 900;
}