#print-popup-container {
    height: 500px;
    width: 1000px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#print-popup {
    height: 300px;
    width: 400px;
    padding: 20px;
    border: 2px solid Black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

#print-input-cont {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#print-input-cont > span:first-child {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

#print-input-cont > span:not(:first-child) {
    font-size: 14px;
}

.print-input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.print-input-row > input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#print-btns > button {
    font-size: 20px;
    height: 50px;
    width: 100px;
    margin: 0 15px 0 15px;
    font-weight: 600;
}