#menu-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 50px;
    position: relative;
}

#sub-menu-form {
    margin: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#menu-form-headers {
    display: grid;
    grid-template-columns: 100px 250px 250px 360px;
    grid-template-rows: 25px;
    margin: 10px 0 5px 0;
}

#menu-form-headers > span {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 700;
}

#level-container {
    display: flex;
    flex-direction: column;
}

.menu-level {
    display: flex;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.level-text {
    width: 100px;
    padding-left: 20px;
}

.level-container {
    width: 860px;
    display: flex;
    flex-direction: column;
}

.row-container {
    display: grid;
    grid-template-columns: 250px 250px 360px;
    grid-template-rows: 20px;
    margin-bottom: 5px;
}

.menuBtn {
    margin: 3px;
    width: 100px;
}

#message-container {
    height: 500px;
    width: 1000px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#pop-up {
    height: 300px;
    width: 400px;
    padding: 20px;
    border: 2px solid Black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.bold {
    font-weight: 900;
}

.ex-message {
    font-size: 0.75em;
    margin: 10px 0 10px 0;
}

#conf-btns > button {
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 50px;
}



