<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>New Message</h3>
    <form method="POST" action="/new">
        <label>User name:
            <input type="text" name="messageUser" />
        </label>
        <label>Message:
            <input type="text" name="messageText" />
        </label>
        <button type="submit">Submit Message</button>
    </form>
  </body>
</html>