body {
  font: 16px 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}

.content-container {
  margin-top: 10px;
}

.input-row {
  display: grid;
  grid-template-columns: 150px 200px minmax(150px, auto);
  margin: 5px 0 5px 0;
}

.input-label {
  text-align: end;
}

.input-input {
  margin-left: 10px;
}

.input-tip {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 0.8em;
}

.input-btns {
  margin-top: 10px;
}

.message-form {
  display: flex;
  flex-direction: column;
}